.no-margin{
    margin: 0;
}
.date-selector{
    color: #fff;
}
input[type="radio"]{
    display: none;
}

input[type="radio"]:checked+label{
    color: #EF8F00;
}

input[type="radio"]:checked.timeslot+label{
    color: #fff;
    font-weight: 700;
}

input[type="radio"]:disabled.timeslot+label{
    color: #fff;
}
.disabled{
    background-color: #808080 !important;
}
.selectedTimeSlot{
    background-color: #EF8F00;
}
label{
    display: block;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
}
tr{
    border: solid 1px #dbdbdb;
}
td,th {
    padding: .5em .75em;
    vertical-align: top;
}
thead{
    font-weight: bolder;
    font-size: 1.5em;
}
td:first-child{
    border-left: solid 1px  #dbdbdb;
    border-right: solid 1px  #dbdbdb;
    font-weight:bold;
}
.link{
    font-size: 1em;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
.link:hover{
    color: #EF8F00;
}