@import "../font/font.css";

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

ul,
li,
ol {
    list-style: none;
}

.center-text {
    text-align: center;
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 1215px) {
    .container.is-widescreen {
        max-width: 1152px;
    }
}

@media screen and (max-width: 1407px) {
    .container.is-fullhd {
        max-width: 1344px;
    }
}

@media screen and (min-width: 1216px) {
    .container {
        max-width: 1152px;
    }
    .container.padded {
        max-width: calc(1344px - 6em);
    }
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 1344px;
    }
    .container.padded {
        max-width: calc(1344px - 6em);
    }
}

.navbar {
    background-color: #fff;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
    align-items: stretch;
    display: flex;
    box-shadow: 0 2px 0 0 #f5f5f5;
    height: 60px;
}
.navbar-menu {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}
.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    align-items: stretch;
    display: flex;
}
.navbar-start {
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
}
.navbar-item {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    color: #4a4a4a;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
}
.navbar-end > a.navbar-item {
    margin-right: 0 !important;
}
a.navbar-item.active {
    color: #ef8f00;
}
a.navbar-item {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    align-self: flex-end;
    margin-right: 30px;
}
a.navbar-item:hover {
    text-decoration: underline;
    color: #ef8f00;
}
a.navbar-item.active {
    text-decoration: none;
}
.input {
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    display: inline-flex;
    font-size: 1rem;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    height: 50%;
}
.logo {
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
.logo > img {
    height: 100%;
    width: auto;
}
.select {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    position: relative;
    vertical-align: top;
}

.select select {
    padding-right: 2.5em;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    width: 100%;
    outline: 0;
    color: #363636;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 290486px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    margin: 0;
}
.select select:hover {
    border-color: #b5b5b5;
}
.select::after {
    right: 1.125em;
    z-index: 4;
    border: 3px solid #ef8f00;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.5em;
    box-sizing: content-box;
}
.select:hover::after {
    border-color: #000;
}

.button {
    background-color: #fff;
    color: #ef8f00;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #ef8f00;
    border-radius: 290486px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 700;
    height: 2.5em;
    text-decoration: none;
}
.button:hover {
    border-color: #ef8f00;
    background-color: #ef8f00;
    color: #fff;
}

svg.search-icon {
    height: 1.25em;
    position: absolute;
    right: 25px;
}

.input.is-rounded {
    border-radius: 290486px;
}

.row {
    display: flex;
}
.row.is-wrap {
    flex-wrap: wrap;
}
.col {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
.col.size-12 {
    flex: 0 0 100%;
}
.col.size-11 {
    flex: 0 0 calc(100% / 12 * 11); /* 11/12 */
}
.col.size-10 {
    flex: 0 0 calc(100% / 12 * 10);
}
.col.size-9 {
    flex: 0 0 calc(100% / 12 * 9);
}
.col.size-8 {
    flex: 0 0 calc(100% / 12 * 8);
}
.col.size-7 {
    flex: 0 0 calc(100% / 12 * 7);
}
.col.size-6 {
    flex: 0 0 calc(100% / 12 * 6);
}
.col.size-5 {
    flex: 0 0 calc(100% / 12 * 5);
}
.col.size-4 {
    flex: 0 0 calc(100% / 12 * 4);
}
.col.size-3 {
    flex: 0 0 calc(100% / 12 * 3);
}
.col.size-2 {
    flex: 0 0 calc(100% / 12 * 2);
}
.col.size-1 {
    flex: 0 0 calc(100% / 12 * 1);
}

.footer {
    width: 100%;
    height: 60px;
    margin-top: 20px;
}
.footer-content {
    width: 100%;
    z-index: 40;
    height: 50px;
    padding-top: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #f5f5f5ec;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/******************* Slider styles ********************************/
.slider {
    width: 100%;
    height: 300px;
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 1;
}

.slides {
    display: flex;
    position: relative;
    width: 10000px;
    transition: left 0.2s ease-out;
}

.control {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: -55px;
}

.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: -55px;
}

.prev:active,
.next:active {
    transform: scale(0.8);
}
