.banner {
    margin-top: 60px;
    width: 100%;
}
.image-width {
    min-width: 300px;
}
.movie-image {
    border: 1px solid #000;
    height: auto;
}
.bring-front{
    z-index: 10;
}
.movie-title {
    margin: 0;
}
.black-bar {
    position: absolute;
    top: 370px;
    background-color: #272727;
    width: 100%;
    height: 80px;
    color: #fff;
}
.float-right {
    float: right;
}

a.button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 0.55em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.55em;
    text-align: center;
    white-space: nowrap;
}
a.button:hover{
    border: 1px solid #dbdbdb;
    background-color: #272727;
    color: #dbdbdb;
}

.slide {
    width: 300px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    margin:10px;
}
.slide>img{
    width: 300px;
    height: 200px;
}