.banner {
    margin-top: 60px;
    width: 100%;
}
.image-width {
    min-width: 300px;
}
.movie-image {
    border: 1px solid #000;
    height: auto;
}
.bring-front{
    z-index: 10;
}
.movie-title {
    margin: 0;
}
.black-bar {
    position: absolute;
    top: 370px;
    background-color: #272727;
    width: 100%;
    height: 80px;
    color: #fff;
}
.pad-0{
    padding: 0;
}
.slide {
    width: 300px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    margin:10px;
}
.slide>img{
    width: 300px;
    height: 200px;
}