#banner {
    background-color: #363636;
    height: 350px;
}

#top {
    margin: 30px 0;
}

label {
    margin-right: 10px;
}

.outer-container {
    border: 1px solid black;
    width: auto;
}

.screen {
    width: 95%;
    height: fit-content;
    justify-content: center;
    background-color: rgb(197, 197, 197);
    padding: 10px 0;
    margin: 20px auto;
}

.seats {
    margin: 30px 50px;
}

.iseat {
    text-align: center;
    border: 1px solid black;
    margin: 8px;
    background-color: white;
}

.iseat:nth-child(2) {
    background-color: grey;
}

.seats-left {
    /* background-color: red; */
    margin-right: 30px;
}

.seats-right {
    /* background-color: blue; */
    margin-left: 30px;
}

.legends {
    width: 95%;
    margin: 20px auto;
    border-top: 1px solid black;
}

.title {
    display: block !important;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
}

.box {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin-right: 100px;
}

.box p {
    margin: 0px;
    margin-left: 60px;
    line-height: 40px;
}

#tickets {
    margin-top: 20px;
}

.tickets-header {
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    font-weight: bold;
}

.tickets-item {
    width: 95%;
    margin: 0 auto;
    justify-content: center;
}

#tickets p {
    display: block;
    width: 100%;
    margin: 5px;
}

#payment {
    width: 80%;
    margin: 50px auto;
    justify-content: center;
}

#payment-left {
    width: 50%;
    float: left;
}

#payment label {
    float: left;
    width: 150px;
}

#payment input[type="submit"] {
    float: right;
}

.select_box,
input[type="date"] {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    position: relative;
    vertical-align: top;
}

.select_box select:hover,
input[type="date"]:hover {
    border-color: #b5b5b5;
}

.select_box:hover::after {
    border-color: #000;
}

.select_box:after {
    right: 10em;
    z-index: 4;
    border: 3px solid #ef8f00;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 47%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.5em;
    box-sizing: content-box;
}
.select_box select,
input[type="date"] {
    padding-right: calc(0.75em - 1px);
    cursor: pointer;
    display: block;
    max-width: 100%;
    width: 200px;
    outline: 0;
    color: #363636;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 290486px;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    padding-bottom: calc(0.4em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-top: calc(0.4em - 1px);
    position: relative;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
}

#summary .outer-container {
    margin: 0 auto;
}
