.box {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: solid 1px #000;
}

.slide {
    width: 200px;
    height: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    margin:10px;
}