.box {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: solid 1px #000;
}

.slider {
    width: 100%;
    height: 300px;
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 1;
}

.slides {
    display: flex;
    position: relative;
    width: 10000px;
    transition: left 0.2s ease-out;
}


.slide {
    width: 200px;
    height: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    margin:10px;
}

.control {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: -55px;
}

.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: -55px;
}

.prev:active,
.next:active {
    transform: scale(0.8);
}
