@import "./font/font.css";

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 1215px) {
    .container.is-widescreen {
        max-width: 1152px;
    }
}

@media screen and (max-width: 1407px) {
    .container.is-fullhd {
        max-width: 1344px;
    }
}

@media screen and (min-width: 1216px) {
    .container {
        max-width: 1152px;
    }
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 1344px;
    }
}

.navbar {
    background-color: #fff;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
    align-items: stretch;
    display: flex;
    box-shadow: 0 2px 0 0 #f5f5f5;
    height: 60px;
}
.navbar-menu {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}
.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    align-items: stretch;
    display: flex;
}
.navbar-item {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    color: #4a4a4a;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    text-transform: uppercase;
}
a.navbar-item {
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    align-self: flex-end;
}
a.navbar-item:hover {
    border-bottom: 1px solid #dbdbdb;
}
.input {
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    display: inline-flex;
    font-size: 1rem;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    height: 50%;
}

svg.search-icon {
    height: 1.25em;
    position: absolute;
    right: 25px;
}

.input.is-rounded {
    border-radius: 20px;
}

.row {
    display: flex;
}
.row.is-wrap{
    flex-wrap: wrap;
}
.col{
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}
.col.size-12 {
    flex: 0 0 100%;
}
.col.size-11 {
    flex: 0 0 calc(100% / 12 * 11); /* 11/12 */
}
.col.size-10 {
    flex: 0 0 calc(100% / 12 * 10);
}
.col.size-9 {
    flex: 0 0 calc(100% / 12 * 9);
}
.col.size-8 {
    flex: 0 0 calc(100% / 12 * 8);
}
.col.size-7 {
    flex: 0 0 calc(100% / 12 * 7);
}
.col.size-6 {
    flex: 0 0 calc(100% / 12 * 6);
}
.col.size-5 {
    flex: 0 0 calc(100% / 12 * 5);
}
.col.size-4 {
    flex: 0 0 calc(100% / 12 * 4);
}
.col.size-3 {
    flex: 0 0 calc(100% / 12 * 3);
}
.col.size-2 {
    flex: 0 0 calc(100% / 12 * 2);
}
.col.size-1 {
    flex: 0 0 calc(100% / 12 * 1);
}

.footer{
    width: 100%;
    height: 60px;
    margin-top: 20px;
}
.footer-content{
    width: 100%;
    z-index: 40;
    height: 50px;
    padding-top: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #f5f5f5ec;
}